body {
  background-color: #8fadb4;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icon {
  font-size: 45px;
  color: rgb(52, 173, 47);
}
